/******************************************************************
	
	
	@ Item          ASECTION // Personal One Page Portfolio HTML Template
	@ Version       1.0
	@ Author		Avanzare
	@ Website		http://themeforest.net/user/avanzare 
	

 ******************************************************************


	-----------------------------
	----- TABLE OF CONTENTS -----
	-----------------------------
	
	--  1. Typography
    --  2. Forms
	--  3. Loading Screen
	--  4. Misc
	--  5. Spacing
	--  6. Navigation
	--  7. Sections
	--  8. Backgrounds
    --  9. Plugins
 
 
 ******************************************************************/

/** 1. TYPOGRAPHY
*******************************************************************/
@font-face {
  font-family: D-DIN;
  src: url(../font/D-DIN.otf);
}
.getName {
  cursor: pointer;
}

@media (max-width: 400px) {
  .about-name {
    visibility: hidden;
  }

  .about-con {
    height: 62vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-custome {
    width: 100vw;
    height: 100vh;
  }

  .project-heading {
    font-size: 3rem;
  }

  .project-align {
    align-items: center !important;
    height: 100vh !important;
    gap: 2rem !important;
  }

  .project-work {
    gap: 2rem;
  }
  .logo {
    /* width: 23vh !important; */
    height: 16vh !important;
  }
}

html {
  font-size: 10px;
  height: 100%;
}

@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  .logo {
    /* width: 23vh !important; */
    height: 16vh !important;
  }

  .project-logo {
    width: 25vh !important;
    height: 16vh !important;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 7px;
  }

  .project-align {
    display: flex;
    align-items: center !important;
    height: 100vh !important;
    gap: 2rem !important;
  }
  .logo {
    /* width: 23vh !important; */
    height: 16vh !important;
  }
}

.head-two {
  font-size: 2rem !important;
}

.project-logo {
  padding-left: 4rem !important;
  margin-block: 1rem !important;
  height: 16vh !important;
}

body {
  height: 100%;
  font-size: 1.3rem;
  font-family: D-DIN;
  font-weight: 300M;
  font-style: normal;
  overflow-x: hidden;

  color: #fff;
  background: #030303;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.3em;
  margin-top: 0em;
  margin-bottom: 0;
  font-weight: 100;
  font-family: D-DIN;
}

.public-sans {
  font-family: D-DIN !important;
  font-weight: 600;
}

.head-logo {
  height: 16vh;
  width: 100%;

  /* height: auto; */
  padding-inline-start: 2rem;
}

.spectral {
  font-family: "D-DIN" !important;
  color: #fff;
}

h1 {
  font-size: 4rem !important;
  line-height: 1.15em;
  font-family: D-DIN;
}

/* @media (max-width: 1030px) {
    h1
    {
        font-size: 7.6rem !important;
    }
} */

h2 {
  font-size: 5.6rem;
}

h3 {
  font-size: 3rem;
  font-family: D-DIN;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 3.5rem;
  font-weight: 500;
}

h6 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  font-size: 2.2rem;
  line-height: 1.8em;
  letter-spacing: 0em;
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: #ebeaea;
}

p.xxl {
  font-size: 2.5rem;
  font-weight: 400;
}

p.name-tag {
  font-family: D-DIN !important;
  font-size: 1.8rem;
  letter-spacing: 0.015em;
  font-weight: 400;
  opacity: 0.8;
}

a,
a:hover,
a:focus {
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  text-decoration: none;
  outline: none !important;
  outline-color: unset !important;

  color: #fff;
}

a.link-border {
  font-size: 1.6rem;
  border: 2px solid #fff;
  padding: 2rem 4.6rem;
  font-weight: 600;
  display: inline-block;
  border-radius: 100px;
}

a.link-underline {
  border-bottom: 1px solid #fff;
  padding-bottom: 0.05em;
}

button {
  border: none;
  background: none;
}

button,
button:hover,
button:focus {
  outline: none;
}

.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
  color: #fff;
}

.font-bold {
  font-weight: 700;
  color: #fff;
}

/** 2. Forms
*****************************************************************/

form input {
  line-height: 5.5rem;
  height: 5.5rem;
}

form input,
form textarea {
  background: none !important;
  border: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
  border-radius: 0 !important;
  font-size: 1.8rem !important;
  letter-spacing: 0em;
  color: #fff !important;
  padding: 0 !important;
  padding-left: 1.5rem !important;
  font-weight: 400 !important;
}

form input.error,
form textarea.error {
  border-color: rgb(255 0 0 / 80%) !important;
}

form textarea {
  min-height: 9rem !important;
  line-height: 2em;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.6) !important;
  font-weight: 400;
}

form input::-moz-placeholder,
form textarea::-moz-placeholder {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.6) !important;
  font-weight: 400;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.6) !important;
  font-weight: 400;
}

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.6) !important;
  font-weight: 400;
}

form input::placeholder,
form textarea::placeholder {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.6) !important;
  font-weight: 400;
}

form input:focus,
form textarea:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
}

form input:focus::-webkit-input-placeholder,
form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

form input:focus::-moz-placeholder,
form textarea:focus::-moz-placeholder {
  opacity: 0;
}

form input:focus:-ms-input-placeholder,
form textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

form input:focus::-ms-input-placeholder,
form textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

form input:focus::placeholder,
form textarea:focus::placeholder {
  opacity: 0;
}

form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus,
form textarea:-webkit-autofill,
form textarea:-webkit-autofill:hover,
form textarea:-webkit-autofill:focus,
form select:-webkit-autofill,
form select:-webkit-autofill:hover,
form select:-webkit-autofill:focus {
  border: 0px solid rgba(255, 255, 255, 0);
  -webkit-text-fill-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

form textarea:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

form button {
  color: #fff;
  border: none !important;
  display: inline-block !important;
}

form button .button-text {
  font-size: 1.8rem;
  line-height: 1.8em;
  letter-spacing: 0em;
  font-weight: 300;
  color: #ebeaea;
}

form button p {
  font-size: 1.8rem;
  margin: 0;
}

form .hpc {
  opacity: 0 !important;
  pointer-events: none;
  width: 0;
  height: 0;
  display: block;
  position: absolute;
}

/** 3. LOADING SCREEN
*****************************************************************/

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 200;
  left: 0;
  background: #030303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.loading-screen .line-frame {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
}

.loading-screen .line {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.6);
  -webkit-animation-name: loader_animation;
  animation-name: loader_animation;
  will-change: transform;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.1, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0.1, 0.2, 1);
}

.loading-screen p {
  font-size: 1.5rem;
  right: 3rem;
  bottom: 3rem;
  position: absolute;
  margin: 0;
}

@-webkit-keyframes loader_animation {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  48% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  52% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes loader_animation {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  48% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  52% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

/** 4. MISC
*****************************************************************/

.lightbox-container {
  position: relative;
}

.lightbox-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.classic-setup .change-section-on-click {
  display: none;
}

#section-settings {
  display: none;
}

.ui-name {
  position: fixed;
  cursor: pointer;
  z-index: 10;
  top: 8px;
}

@media only screen and (max-width: 600px) {
  .ui-name {
    position: static !important;
    cursor: pointer;
    z-index: 10;
    top: 8px;
  }

  .classic-setup .section.hero .section-container {
    height: auto !important;
    padding: 0;
  }

  .classic-setup .section.hero .container-center-y {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
  }
  .about-align {
    height: auto !important;
    padding-top: 0rem !important;
    padding-bottom: 3rem !important;
  }
  #main
    > div:nth-child(2)
    > div
    > div.container-center-y
    > div
    > div
    > div
    > div
    > div
    > div {
    padding-left: 1.3rem !important;
  }
  .whiteV {
    text-align: left !important;
  }
}

.button-nav.next-section {
  bottom: 0rem;
}

.button-nav.prev-section {
  top: 0rem;
}

.ui-name p {
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.5rem;
  -webkit-transition: 0.3s ease 0.3s;
  -o-transition: 0.3s ease 0.3s;
  transition: 0.3s ease 0.3s;
  line-height: 1.2em;
  display: inline-block;
  opacity: 1;
}

#main.not-loaded .ui-name p {
  opacity: 0;
}

.ui-name .line {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 1px;
  overflow: hidden;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  vertical-align: middle;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

#main.not-loaded .ui-name .line {
  width: 0;
}

.ui-name .line:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.ui-name:hover .line:after {
  right: 0;
}

/** 5. SPACING
*******************************************************************/

/** Margin **/

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.ml-7 {
  margin-left: 7rem !important;
}

.ml-8 {
  margin-left: 8rem !important;
}

.ml-9 {
  margin-left: 9rem !important;
}

.ml-10 {
  margin-left: 10rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.mr-7 {
  margin-right: 7rem !important;
}

.mr-8 {
  margin-right: 8rem !important;
}

.mr-9 {
  margin-right: 9rem !important;
}

.mr-10 {
  margin-right: 10rem !important;
}

@media (min-width: 0px) {
  .m-b-0 {
    margin-bottom: 0rem !important;
  }

  .m-b-1 {
    margin-bottom: 1rem !important;
  }

  .m-b-2 {
    margin-bottom: 2rem !important;
  }

  .m-b-3 {
    margin-bottom: 3rem !important;
  }

  .m-b-4 {
    margin-bottom: 4rem !important;
  }

  .m-b-5 {
    margin-bottom: 5rem !important;
  }

  .m-b-6 {
    margin-bottom: 6rem !important;
  }

  .m-b-7 {
    margin-bottom: 7rem !important;
  }

  .m-b-8 {
    margin-bottom: 8rem !important;
  }

  .m-b-9 {
    margin-bottom: 9rem !important;
  }

  .m-b-10 {
    margin-bottom: 10rem !important;
  }

  .m-t-0 {
    margin-top: 0rem !important;
  }

  .m-t-1 {
    margin-top: 1rem !important;
  }

  .m-t-2 {
    margin-top: 2rem !important;
  }

  .m-t-3 {
    margin-top: 3rem !important;
  }

  .m-t-4 {
    margin-top: 4rem !important;
  }

  .m-t-5 {
    margin-top: 5rem !important;
  }

  .m-t-6 {
    margin-top: 6rem !important;
  }

  .m-t-7 {
    margin-top: 7rem !important;
  }

  .m-t-8 {
    margin-top: 8rem !important;
  }

  .m-t-9 {
    margin-top: 9rem !important;
  }

  .m-t-10 {
    margin-top: 10rem !important;
  }

  .m-r-0 {
    margin-right: 0rem !important;
  }

  .m-r-1 {
    margin-right: 1rem !important;
  }

  .m-r-2 {
    margin-right: 2rem !important;
  }

  .m-r-3 {
    margin-right: 3rem !important;
  }

  .m-r-4 {
    margin-right: 4rem !important;
  }

  .m-r-5 {
    margin-right: 5rem !important;
  }

  .m-r-6 {
    margin-right: 6rem !important;
  }

  .m-r-7 {
    margin-right: 7rem !important;
  }

  .m-r-8 {
    margin-right: 8rem !important;
  }

  .m-r-9 {
    margin-right: 9rem !important;
  }

  .m-r-10 {
    margin-right: 10rem !important;
  }

  .m-l-0 {
    margin-left: 0rem !important;
  }

  .m-l-1 {
    margin-left: 1rem !important;
  }

  .m-l-2 {
    margin-left: 2rem !important;
  }

  .m-l-3 {
    margin-left: 3rem !important;
  }

  .m-l-4 {
    margin-left: 4rem !important;
  }

  .m-l-5 {
    margin-left: 5rem !important;
  }

  .m-l-6 {
    margin-left: 6rem !important;
  }

  .m-l-7 {
    margin-left: 7rem !important;
  }

  .m-l-8 {
    margin-left: 8rem !important;
  }

  .m-l-9 {
    margin-left: 9rem !important;
  }

  .m-l-10 {
    margin-left: 10rem !important;
  }
}

@media (min-width: 0px) {
  .m-b-xs-0 {
    margin-bottom: 0rem !important;
  }

  .m-b-xs-1 {
    margin-bottom: 1rem !important;
  }

  .m-b-xs-2 {
    margin-bottom: 2rem !important;
  }

  .m-b-xs-3 {
    margin-bottom: 3rem !important;
  }

  .m-b-xs-4 {
    margin-bottom: 4rem !important;
  }

  .m-b-xs-5 {
    margin-bottom: 5rem !important;
  }

  .m-b-xs-6 {
    margin-bottom: 6rem !important;
  }

  .m-b-xs-7 {
    margin-bottom: 7rem !important;
  }

  .m-b-xs-8 {
    margin-bottom: 8rem !important;
  }

  .m-b-xs-9 {
    margin-bottom: 9rem !important;
  }

  .m-b-xs-10 {
    margin-bottom: 10rem !important;
  }

  .m-t-xs-0 {
    margin-top: 0rem !important;
  }

  .m-t-xs-1 {
    margin-top: 1rem !important;
  }

  .m-t-xs-2 {
    margin-top: 2rem !important;
  }

  .m-t-xs-3 {
    margin-top: 3rem !important;
  }

  .m-t-xs-4 {
    margin-top: 4rem !important;
  }

  .m-t-xs-5 {
    margin-top: 5rem !important;
  }

  .m-t-xs-6 {
    margin-top: 6rem !important;
  }

  .m-t-xs-7 {
    margin-top: 7rem !important;
  }

  .m-t-xs-8 {
    margin-top: 8rem !important;
  }

  .m-t-xs-9 {
    margin-top: 9rem !important;
  }

  .m-t-xs-10 {
    margin-top: 10rem !important;
  }

  .m-r-xs-0 {
    margin-right: 0rem !important;
  }

  .m-r-xs-1 {
    margin-right: 1rem !important;
  }

  .m-r-xs-2 {
    margin-right: 2rem !important;
  }

  .m-r-xs-3 {
    margin-right: 3rem !important;
  }

  .m-r-xs-4 {
    margin-right: 4rem !important;
  }

  .m-r-xs-5 {
    margin-right: 5rem !important;
  }

  .m-r-xs-6 {
    margin-right: 6rem !important;
  }

  .m-r-xs-7 {
    margin-right: 7rem !important;
  }

  .m-r-xs-8 {
    margin-right: 8rem !important;
  }

  .m-r-xs-9 {
    margin-right: 9rem !important;
  }

  .m-r-xs-10 {
    margin-right: 10rem !important;
  }

  .m-l-xs-0 {
    margin-left: 0rem !important;
  }

  .m-l-xs-1 {
    margin-left: 1rem !important;
  }

  .m-l-xs-2 {
    margin-left: 2rem !important;
  }

  .m-l-xs-3 {
    margin-left: 3rem !important;
  }

  .m-l-xs-4 {
    margin-left: 4rem !important;
  }

  .m-l-xs-5 {
    margin-left: 5rem !important;
  }

  .m-l-xs-6 {
    margin-left: 6rem !important;
  }

  .m-l-xs-7 {
    margin-left: 7rem !important;
  }

  .m-l-xs-8 {
    margin-left: 8rem !important;
  }

  .m-l-xs-9 {
    margin-left: 9rem !important;
  }

  .m-l-xs-10 {
    margin-left: 10rem !important;
  }
}

@media (min-width: 576px) {
  .m-b-sm-0 {
    margin-bottom: 0rem !important;
  }

  .m-b-sm-1 {
    margin-bottom: 1rem !important;
  }

  .m-b-sm-2 {
    margin-bottom: 2rem !important;
  }

  .m-b-sm-3 {
    margin-bottom: 3rem !important;
  }

  .m-b-sm-4 {
    margin-bottom: 4rem !important;
  }

  .m-b-sm-5 {
    margin-bottom: 5rem !important;
  }

  .m-b-sm-6 {
    margin-bottom: 6rem !important;
  }

  .m-b-sm-7 {
    margin-bottom: 7rem !important;
  }

  .m-b-sm-8 {
    margin-bottom: 8rem !important;
  }

  .m-b-sm-9 {
    margin-bottom: 9rem !important;
  }

  .m-b-sm-10 {
    margin-bottom: 10rem !important;
  }

  .m-t-sm-0 {
    margin-top: 0rem !important;
  }

  .m-t-sm-1 {
    margin-top: 1rem !important;
  }

  .m-t-sm-2 {
    margin-top: 2rem !important;
  }

  .m-t-sm-3 {
    margin-top: 3rem !important;
  }

  .m-t-sm-4 {
    margin-top: 4rem !important;
  }

  .m-t-sm-5 {
    margin-top: 5rem !important;
  }

  .m-t-sm-6 {
    margin-top: 6rem !important;
  }

  .m-t-sm-7 {
    margin-top: 7rem !important;
  }

  .m-t-sm-8 {
    margin-top: 8rem !important;
  }

  .m-t-sm-9 {
    margin-top: 9rem !important;
  }

  .m-t-sm-10 {
    margin-top: 10rem !important;
  }

  .m-r-sm-0 {
    margin-right: 0rem !important;
  }

  .m-r-sm-1 {
    margin-right: 1rem !important;
  }

  .m-r-sm-2 {
    margin-right: 2rem !important;
  }

  .m-r-sm-3 {
    margin-right: 3rem !important;
  }

  .m-r-sm-4 {
    margin-right: 4rem !important;
  }

  .m-r-sm-5 {
    margin-right: 5rem !important;
  }

  .m-r-sm-6 {
    margin-right: 6rem !important;
  }

  .m-r-sm-7 {
    margin-right: 7rem !important;
  }

  .m-r-sm-8 {
    margin-right: 8rem !important;
  }

  .m-r-sm-9 {
    margin-right: 9rem !important;
  }

  .m-r-sm-10 {
    margin-right: 10rem !important;
  }

  .m-l-sm-0 {
    margin-left: 0rem !important;
  }

  .m-l-sm-1 {
    margin-left: 1rem !important;
  }

  .m-l-sm-2 {
    margin-left: 2rem !important;
  }

  .m-l-sm-3 {
    margin-left: 3rem !important;
  }

  .m-l-sm-4 {
    margin-left: 4rem !important;
  }

  .m-l-sm-5 {
    margin-left: 5rem !important;
  }

  .m-l-sm-6 {
    margin-left: 6rem !important;
  }

  .m-l-sm-7 {
    margin-left: 7rem !important;
  }

  .m-l-sm-8 {
    margin-left: 8rem !important;
  }

  .m-l-sm-9 {
    margin-left: 9rem !important;
  }

  .m-l-sm-10 {
    margin-left: 10rem !important;
  }
}

@media (min-width: 768px) {
  .m-b-md-0 {
    margin-bottom: 0rem !important;
  }

  .m-b-md-1 {
    margin-bottom: 1rem !important;
  }

  .m-b-md-2 {
    margin-bottom: 2rem !important;
  }

  .m-b-md-3 {
    margin-bottom: 3rem !important;
  }

  .m-b-md-4 {
    margin-bottom: 4rem !important;
  }

  .m-b-md-5 {
    margin-bottom: 5rem !important;
  }

  .m-b-md-6 {
    margin-bottom: 6rem !important;
  }

  .m-b-md-7 {
    margin-bottom: 7rem !important;
  }

  .m-b-md-8 {
    margin-bottom: 8rem !important;
  }

  .m-b-md-9 {
    margin-bottom: 9rem !important;
  }

  .m-b-md-10 {
    margin-bottom: 10rem !important;
  }

  .m-t-md-0 {
    margin-top: 0rem !important;
  }

  .m-t-md-1 {
    margin-top: 1rem !important;
  }

  .m-t-md-2 {
    margin-top: 2rem !important;
  }

  .m-t-md-3 {
    margin-top: 3rem !important;
  }

  .m-t-md-4 {
    margin-top: 4rem !important;
  }

  .m-t-md-5 {
    margin-top: 5rem !important;
  }

  .m-t-md-6 {
    margin-top: 6rem !important;
  }

  .m-t-md-7 {
    margin-top: 7rem !important;
  }

  .m-t-md-8 {
    margin-top: 8rem !important;
  }

  .m-t-md-9 {
    margin-top: 9rem !important;
  }

  .m-t-md-10 {
    margin-top: 10rem !important;
  }

  .m-r-md-0 {
    margin-right: 0rem !important;
  }

  .m-r-md-1 {
    margin-right: 1rem !important;
  }

  .m-r-md-2 {
    margin-right: 2rem !important;
  }

  .m-r-md-3 {
    margin-right: 3rem !important;
  }

  .m-r-md-4 {
    margin-right: 4rem !important;
  }

  .m-r-md-5 {
    margin-right: 5rem !important;
  }

  .m-r-md-6 {
    margin-right: 6rem !important;
  }

  .m-r-md-7 {
    margin-right: 7rem !important;
  }

  .m-r-md-8 {
    margin-right: 8rem !important;
  }

  .m-r-md-9 {
    margin-right: 9rem !important;
  }

  .m-r-md-10 {
    margin-right: 10rem !important;
  }

  .m-l-md-0 {
    margin-left: 0rem !important;
  }

  .m-l-md-1 {
    margin-left: 1rem !important;
  }

  .m-l-md-2 {
    margin-left: 2rem !important;
  }

  .m-l-md-3 {
    margin-left: 3rem !important;
  }

  .m-l-md-4 {
    margin-left: 4rem !important;
  }

  .m-l-md-5 {
    margin-left: 5rem !important;
  }

  .m-l-md-6 {
    margin-left: 6rem !important;
  }

  .m-l-md-7 {
    margin-left: 7rem !important;
  }

  .m-l-md-8 {
    margin-left: 8rem !important;
  }

  .m-l-md-9 {
    margin-left: 9rem !important;
  }

  .m-l-md-10 {
    margin-left: 10rem !important;
  }
}

@media (min-width: 992px) {
  .m-b-lg-0 {
    margin-bottom: 0rem !important;
  }

  .m-b-lg-1 {
    margin-bottom: 1rem !important;
  }

  .m-b-lg-2 {
    margin-bottom: 2rem !important;
  }

  .m-b-lg-3 {
    margin-bottom: 3rem !important;
  }

  .m-b-lg-4 {
    margin-bottom: 4rem !important;
  }

  .m-b-lg-5 {
    margin-bottom: 5rem !important;
  }

  .m-b-lg-6 {
    margin-bottom: 6rem !important;
  }

  .m-b-lg-7 {
    margin-bottom: 7rem !important;
  }

  .m-b-lg-8 {
    margin-bottom: 8rem !important;
  }

  .m-b-lg-9 {
    margin-bottom: 9rem !important;
  }

  .m-b-lg-10 {
    margin-bottom: 10rem !important;
  }

  .m-t-lg-0 {
    margin-top: 0rem !important;
  }

  .m-t-lg-1 {
    margin-top: 1rem !important;
  }

  .m-t-lg-2 {
    margin-top: 2rem !important;
  }

  .m-t-lg-3 {
    margin-top: 3rem !important;
  }

  .m-t-lg-4 {
    margin-top: 4rem !important;
  }

  .m-t-lg-5 {
    margin-top: 5rem !important;
  }

  .m-t-lg-6 {
    margin-top: 6rem !important;
  }

  .m-t-lg-7 {
    margin-top: 7rem !important;
  }

  .m-t-lg-8 {
    margin-top: 8rem !important;
  }

  .m-t-lg-9 {
    margin-top: 9rem !important;
  }

  .m-t-lg-10 {
    margin-top: 10rem !important;
  }

  .m-r-lg-0 {
    margin-right: 0rem !important;
  }

  .m-r-lg-1 {
    margin-right: 1rem !important;
  }

  .m-r-lg-2 {
    margin-right: 2rem !important;
  }

  .m-r-lg-3 {
    margin-right: 3rem !important;
  }

  .m-r-lg-4 {
    margin-right: 4rem !important;
  }

  .m-r-lg-5 {
    margin-right: 5rem !important;
  }

  .m-r-lg-6 {
    margin-right: 6rem !important;
  }

  .m-r-lg-7 {
    margin-right: 7rem !important;
  }

  .m-r-lg-8 {
    margin-right: 8rem !important;
  }

  .m-r-lg-9 {
    margin-right: 9rem !important;
  }

  .m-r-lg-10 {
    margin-right: 10rem !important;
  }

  .m-l-lg-0 {
    margin-left: 0rem !important;
  }

  .m-l-lg-1 {
    margin-left: 1rem !important;
  }

  .m-l-lg-2 {
    margin-left: 2rem !important;
  }

  .m-l-lg-3 {
    margin-left: 3rem !important;
  }

  .m-l-lg-4 {
    margin-left: 4rem !important;
  }

  .m-l-lg-5 {
    margin-left: 5rem !important;
  }

  .m-l-lg-6 {
    margin-left: 6rem !important;
  }

  .m-l-lg-7 {
    margin-left: 7rem !important;
  }

  .m-l-lg-8 {
    margin-left: 8rem !important;
  }

  .m-l-lg-9 {
    margin-left: 9rem !important;
  }

  .m-l-lg-10 {
    margin-left: 10rem !important;
  }
}

/** 6. NAVIGATION
*****************************************************************/

.button-nav {
  position: fixed;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
}

.button-nav.next-section {
  bottom: 0rem;
}

.button-nav.prev-section {
  top: 0rem;
}

.button-nav p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.5rem;
  -webkit-transition: 0.3s ease 0.3s;
  -o-transition: 0.3s ease 0.3s;
  transition: 0.3s ease 0.3s;
  line-height: 1.2em;
}

.button-nav.hide-button p,
#main.not-loaded .button-nav p {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button-nav .line {
  position: relative;
  height: 26px;
  overflow: hidden;
  width: 1px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button-nav.hide-button .line,
#main.not-loaded .button-nav .line {
  height: 0;
  -webkit-transition: 0.3s ease 0.3s;
  -o-transition: 0.3s ease 0.3s;
  transition: 0.3s ease 0.3s;
}

.button-nav .line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button-nav:hover .line:after {
  top: 0;
}

.button-nav.prev-section .line:after {
  bottom: 100%;
  top: unset;
}

.button-nav.prev-section:hover .line:after {
  bottom: 0;
}

.dot-nav {
  position: fixed;
  top: 50%;
  z-index: 10;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dot-nav .dot {
  padding: 0.6rem 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  text-align: end;
}

.dot-nav .dot .name-tag {
  vertical-align: middle;
  display: inline-block;
  font-weight: 500;
  margin-right: 1.5rem;
  pointer-events: none;
  font-size: 1.5rem;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #fff;
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

.dot-nav .dot:hover .name-tag {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.dot-nav .dot .line {
  position: relative;
  display: inline-block;
  width: 26px;
  vertical-align: middle;
  height: 1px;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  background: rgba(255, 255, 255, 0.5);
}

#main.not-loaded .dot-nav .dot .line {
  width: 0;
}

.dot-nav .dot .line:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 100%;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.dot-nav .dot:hover .line:after,
.dot-nav .dot.active .line:after {
  left: 0;
}

/** 7. SECTIONS
*****************************************************************/

#main {
  position: fixed;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.classic-setup #main {
  overflow: visible;
  position: absolute;
  height: unset;
}

@supports (-webkit-touch-callout: none) {
  #main {
    height: unset;
    min-height: -webkit-fill-available;
  }

  .classic-setup #main {
    min-height: unset;
  }
}

.section {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.classic-setup .section {
  position: relative;
  width: 100vw;
  height: auto;
}

.section .section-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.classic-setup .section .section-container {
  position: relative;
  width: unset;
  /* height: auto; */
  /* padding: 15vh 0; */
  /* padding-top: -10rem !important; */
}

.classic-setup .section.hero .section-container {
  height: 100vh;
  padding: 0;
}

.section .container-center-y {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.classic-setup .section .container-center-y {
  display: block;
  height: auto;
}

.classic-setup .section.hero .container-center-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

/** 8. BACKGROUNDS
*******************************************************************/

.bg-video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -4;

  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bg-slider {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -3;

  left: 0;
}

.bg-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  z-index: -3;

  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: #000;
  z-index: -1;
  opacity: 0.4;

  left: 0;
}

.bg-color {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -2;

  left: 0;
}

.bg-glitch {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -3;

  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;

  left: 0;
}

#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;

  left: 0;
}

/** 9. PLUGINS
*******************************************************************/

/* Slider */

.slick-slider {
  position: relative;

  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  /*-ms-touch-action: pan-y;*/
  /*touch-action: pan-y;*/
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: grabbing;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-slider .item:focus {
  outline: none !important;
}

.slick-dots {
  position: absolute;
  bottom: -8rem;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.slick-dots li {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 6px;
  position: relative;
  cursor: pointer;
}

.slick-dots li:after {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
  opacity: 1;
}

.slick-dots li.slick-active,
.slick-dots li:hover {
  border: 1px solid rgb(255 255 255 / 60%);
}

.slick-dots li.slick-active:after,
.slick-dots li:hover:after {
  background: rgba(255, 255, 255, 0);
}

.slick-dots li button {
  display: none;
}

/* Lightbox */

.goverlay {
  background: rgba(3, 3, 3, 0.95) !important;
}

.glightbox-container .gslide-title {
  font-size: 3.2rem !important;
  font-weight: 300 !important;
  letter-spacing: 0em !important;
  line-height: 1.25em !important;
  margin-bottom: 2.2rem !important;
}

.glightbox-container .gslide-desc {
  color: #fff !important;
  font-size: 1.8rem !important;
  line-height: 1.8em !important;
  letter-spacing: -0.01em !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
  margin-top: 9rem !important;
  padding-bottom: 13rem;
}

.glightbox-container .gdesc-inner {
  padding: 0 !important;
  max-width: 580px;
  padding: 0 4rem !important;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 820px) {
  .glightbox-container .gslide-desc {
    margin-top: 6rem;
    padding-bottom: 14rem;
  }

  .gslide.show-desc .gslide-description {
    overflow: auto;
  }

  .glightbox-container .gdesc-inner {
    padding: 0 7rem !important;
  }
}

.gslide-content-frame {
  position: relative;
}

.gslide-image img {
  max-height: 100vh !important;
  max-width: 100%;
  height: auto;
}

.glightbox-container .gnext {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  position: fixed;
  padding: 0 !important;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: unset !important;
  height: unset !important;
  background-color: rgb(0 0 0 / 0%) !important;
  opacity: 1 !important;
  display: block;
}

.glightbox-container .gprev {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  position: fixed;
  padding: 0 !important;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: unset !important;
  height: unset !important;
  background-color: rgb(0 0 0 / 0%) !important;
  opacity: 1 !important;
  display: block;
}

.glightbox-container .gclose {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  padding: 0 !important;
  transition: 0.2s ease;
  opacity: 1 !important;
  width: unset !important;
  height: unset !important;
  top: 4rem !important;
  left: 0 !important;
  right: unset !important;
  position: fixed;
  display: block;
  background-color: rgb(0 0 0 / 0%) !important;
}

.glightbox-container .gbtn p {
  font-size: 1.5rem;
  font-weight: 500;
  vertical-align: middle;
  display: inline-block;
  margin: 1.5rem;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.glightbox-container.hide-nav .gbtn p {
  opacity: 0;
}

.glightbox-container .gbtn .line {
  height: 1px;
  vertical-align: middle;
  width: 26px;
  background: rgba(255, 255, 255, 0.6);
  display: inline-block;
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.glightbox-container.hide-nav .gbtn .line {
  width: 0;
}

.glightbox-container .gbtn .line:after {
  content: "";
  position: absolute;
  right: 100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.glightbox-container .gbtn:hover .line:after {
  right: 0;
}

.glightbox-container .gnext .line:after {
  left: 100%;
  right: unset;
}

.glightbox-container .gnext:hover .line:after {
  left: 0;
}

.gslide-description {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0 !important;
  background: rgba(3, 3, 3, 0.5) !important;
  -ms-flex-line-pack: center;
  align-content: center;
  opacity: 0;

  z-index: 1;
  padding: 0 !important;
  pointer-events: none;

  -webkit-transition: 0.4s ease !important;

  -o-transition: 0.4s ease !important;

  transition: 0.4s ease !important;
}

.gslide.show-desc .gslide-description {
  opacity: 1;
  pointer-events: all;
}

.gslide-media {
  position: relative;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.glightbox-closing .gclose,
.glightbox-closing .gnext,
.glightbox-closing .gprev,
.glightbox-container .gnext.disabled,
.glightbox-container .gprev.disabled {
  opacity: 0 !important;
}

.glightbox-container .info-button {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  z-index: 11;
  left: 90%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.glightbox-container .info-button p {
  margin: 1.5rem;
  vertical-align: middle;
  display: block;
  line-height: 1em;
  font-size: 1.5rem;
  font-weight: 500;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.glightbox-container .info-button .line {
  width: 1px;
  vertical-align: middle;
  height: 26px;
  margin: 0 auto;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
  display: none;
  overflow: hidden;
}

.glightbox-container .info-button .line:after {
  content: "";
  position: absolute;
  right: 100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.glightbox-container .info-button:hover .line:after {
  right: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 5rem;
  }

  #about {
    margin-top: 10%;
  }

  .about-name {
    display: none;
  }

  .about-para {
    padding-inline: 5rem;
    text-align: justify;
    margin-block-start: 1rem;
  }

  .about-title {
    text-align: center;
  }

  .about-note {
    margin-top: 5rem;
  }

  .usp-container {
    padding-block-start: 9rem !important;
  }

  .contact-align {
    display: flex;
    height: 80vh;
  }

  .about-align {
    height: 90vh;
    display: flex;
    align-items: center;
  }
  .logo {
    /* width: 23vh !important; */
    height: 16vh !important;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 10px;
  }
  */ .logo {
    /* width: 23vh !important; */
    height: 16vh !important;
  }

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }

  #about {
    margin-top: 10%;
  }

  .about-name {
    display: none;
  }

  p {
    font-size: 2rem !important;
  }

  .about-para {
    padding-inline: 5rem;
    text-align: justify;
    margin-block-start: 1rem;
  }

  .about-title {
    text-align: center;
  }

  .about-note {
    margin-top: 5rem;
    position: absolute;
  }

  .usp-container {
    padding-block-start: 9rem !important;
  }

  .about-align {
    height: 90vh;
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-device-width: 500px) and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .intro-para {
    text-align: justify !important;
    padding: 2rem !important;
  }

  h1 {
    font-size: 5rem;
  }

  #about {
    margin-top: 10%;
  }

  .about-name {
    display: none;
  }

  .about-para {
    padding-inline: 5rem;
    text-align: justify;
    margin-block-start: 1rem;
  }

  .about-title {
    text-align: center;
  }

  .about-note {
    margin-top: 5rem;
  }

  .usp-container {
    padding-block-start: 9rem !important;
  }

  .about-align {
    height: 90vh;
    display: flex;
    align-items: center;
  }
}

/* .info-box {
    height: 26vh;
    bottom: 0;
    width: 100%;
    position: fixed;
  } */

.info {
  user-select: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.info .line {
  height: 2px;
  width: 10rem;
  background: #fff;
  vertical-align: middle;
  margin: 0 2rem;
  display: inline-block;
}

.info p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.about-para {
  margin-top: 2% !important;
  transform: translate(0px, 0px);
  opacity: 1;
  padding-inline: 17%;
}

#btn-submit {
  text-align: center;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

#btn-submit:hover {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  color: black;
  font-weight: 600;
}

.about-name-width-27 {
  flex: 0 0 auto;
  width: 32%;
}

.brochure_button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.brochure_button:hover {
  color: black !important;
}

.gslide-media.gslide-image {
  height: 78vh;
}

.gslide-media.gslide-image img {
  height: 100%;
}

.logo {
  user-select: none;
  /* width: 100%; */
  height: 16vh;
}
.logo-box-all {
  margin: 0% 2%;
  position: fixed;
}

